<%= simple_form_for [@programa,@ficha], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :numeroficha %>
  
  <div class="form-actions">
    <%= f.button :submit, 'Crear Ficha', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                programa_fichas_path(@programa), :class => 'btn' %>
  </div>
<% end %>
