<%- model_class = Centro -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'Nuevo centro de formacion'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
