<footer class="footer">
  <small>
    By Jhonattan Uribe Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
    <ul>
      
      <li><a href="https://github.com/jhonattanuribe28/">Repositorio</a></li>
    </ul>
  </nav>
</footer>